# --- Telegram Bot ---
aiogram
aiofiles       # асинхронная работа с файлами

# --- Database and ORM ---
SQLAlchemy
aiosqlite               # асинхронная SQLite (или asyncpg для Postgres)

# --- Utilities ---
loguru                  # удобное логирование
python-dotenv           # загрузка .env переменных
pydantic                # валидация данных
pymorphy3               # морфологический анализ
pymorphy3-dicts-ru      # словари для pymorphy3
pillow                  # работа с изображениями
gspread                 # работа с Google Sheets

# --- Testing ---
pytest
pytest-asyncio
pytest-cov      # покрытие тестов

# pytz
